<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel AutoAlert</title>
    <link rel="stylesheet" href="/static/css/stylePainel.css">
</head>
<body>
    <main>
        <h1>Bem Vindo ao Painel Administrativo</h1>
        <img src="/static/assets/logo.png" alt="Logo">
        <div class="funcao">
            <ul>
                <li><a href="#">📑 Notas Pendentes</a></li>
                <li><a href="#">📝 Notas Assinadas</a></li>
                <li><a href="#">📃 Relatórios</a></li>
                <li><a href="#">🪪 Usuários</a></li>
                <li><a href="#">⚙️ Configuração</a></li>
                <li><a href="#">📤 Sair</a></li>
              </ul>
        </div>
    </main>

    <script src="/static/js/scriptPainel.js"></script>
</body>
</html>