<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel AutoAlert</title>
    <link rel="stylesheet" href="/static/css/stylePainel.css">
</head>
<body>
    <main>
        <img src="/static/assets/logo.png" alt="Logo">

        <h1>Bem Vindo ao Painel Administrativo</h1>
        
        <div class="dashboard">
            <div class="card">
                <h3>Notas para Assinar</h3>
                <p id="notas-assinar"></p>
            </div>
            <div class="card">
                <h3>Notas Assinadas</h3>
                <p id="notas-assinadas"></p>
            </div>
            <div class="card">
                <h3>Total de Notas do Dia</h3>
                <p id="total-dia"></p>
            </div>
            <div class="card">
                <h3>Total de Notas Geral</h3>
                <p id="total-geral"></p>
            </div>
        </div>

        <div class="funcao">
            <ul>
                <li><a href="#">📑 Notas Pendentes</a></li>
                <li><a href="#">📝 Notas Assinadas</a></li>
                <li><a href="#">📃 Relatórios</a></li>
                <li><a href="#">🪪 Usuários</a></li>
                <li><a href="#">⚙️ Configuração</a></li>
                <li><a href="#">📤 Sair</a></li>
              </ul>
        </div>
    </main>

    <script src="/static/js/scriptPainel.js"></script>
</body>
</html>